/* Header */
#SECTION393>.ladi-section-background{
    background-color: #005bbb;
}

.cs-header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
}

.cs-header .cs-logo{
    height: 100%;
    width: auto;
    margin-left: 10%;
}

.cs-header .cs-logo img{
    width: auto;
    height: 100%;
}

.cs-header .cs-title{
    min-width: 550px;
    height: 100%;
    position: relative;
}
.cs-header .cs-sub-header{
    width: auto;
    height: 100%;
    position: relative;
    margin-right: 20%;
}

.top-bar_view-style_2 {
    position: relative;
    z-index: 100;
    background: #005bbb;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;
}
.top-bar_view-style_2 .top-bar__content {
    display: table;
    line-height: 1;
    width: 100%;
    text-align: justify;
}
.top-bar__content {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
.top-bar__content {
    position: relative;
    height: 70px;
}
/* @media (max-width: 991px) {
    .logo {
        float: none !important;
        margin: 0 auto;
    }
} */
.logo {
    display: table;
}
.top-bar__content span {
    font-size: 22px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}
.logo img {
    display: inline-block;
    max-width: 120%;
    height: auto;
}
.logo img {
    display: inline-block;
    max-width: 100%;
    height: 58px;
}
.logo .logo__inner {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}
a.logo{
    display: flex;
}
span.logo__title{
    font-size: 18px;
}
span.logo__title::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 5px 0;
}
span.logo__description{
    text-transform: uppercase;
    letter-spacing: 3px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
@media only screen and (max-width: 768px) {
    .title__description {
        display: none;
    }
    span.logo__description{
        font-size: 16px;
    }
    span.logo__title{
        font-size: 14px;
    }
    .ladi-element.slick-slide.slick-cloned{
        display: none;
    }
    #CAROUSEL button {
        display: none !important;
    }
    #GROUP343{
        display: none;
    }
}
