body {
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/* Header */
#SECTION393 > .ladi-section-background {
  background-color: #005bbb;
}

.cs-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
}

.cs-header .cs-logo {
  height: 100%;
  width: auto;
  margin-left: 10%;
}

.cs-header .cs-logo img {
  width: auto;
  height: 100%;
}

.cs-header .cs-title {
  min-width: 550px;
  height: 100%;
  position: relative;
}
.cs-header .cs-sub-header {
  width: auto;
  height: 100%;
  position: relative;
  margin-right: 20%;
}
#CAROUSEL button,
.ladi-element.slick-slide.slick-cloned {
  display: none !important;
}
.top-bar_view-style_2 {
  position: relative;
  z-index: 100;
  background: #005bbb;
}
@media (max-width: 768px) {
  .slogan__description {
    display: none;
  }
  #SECTION393 {
    height: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.top-bar_view-style_2 .top-bar__content {
  display: table;
  width: 100%;
  text-align: justify;
}
.top-bar__content {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.top-bar__content {
  position: relative;
  height: 70px;
}
.logo {
  display: table;
  height: 70px;
}
.top-bar_view-style_2 .logo .logo__icon {
  max-width: 48px;
}
.top-bar_view-style_2 .logo .logo__icon {
  max-width: 48px;
}
.logo .logo__icon {
  display: table-cell;
  vertical-align: middle;
}
.top-bar__content span {
  font-size: 22px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
}
.logo img {
  display: flex;
  max-width: 100%;
  height: auto;
}
.top-bar_view-style_2 .logo .logo__inner {
  padding-left: 10px;
}
.logo .logo__inner {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
.top-bar_view-style_2 .logo .logo__title {
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 28px;
  padding-top: 0;
  font-size: 14px;
  color: #ffffff;
}
.top-bar_view-style_2 .logo .logo__description {
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 5px;
  padding-top: 6px;
  text-transform: uppercase;
}
.top-bar_view-style_2 .logo .logo__title::after {
  content: "";
  background-color: #ffffff;
  width: 195px;
  height: 1px;
  display: block;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
span.ladipage-animated-headline.clip {
    display: flex;
    justify-content: center;
    align-items: center;
}